[push]
	default = simple
[status]
	submoduleSummary = true
[core]
	preloadindex = true
	editor = vim
[alias]
	st = status -s
	spull = ![ \"`git diff`\" != \"\" ] && (git stash && git pull && git stash pop) || git pull
	wdiff = diff -b --word-diff
[pull]
	ff = only
[include]
  path = .gitconfig_perso
